<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ (threadToDisplay | async)?.title }}</h5>
      <p class="card-text">
        {{ (threadToDisplay | async)?.content }}
      </p>
      <p class="card-text text-muted"><small>By: {{ (threadToDisplay | async)?.author }}</small></p>
    </div>
  </div>
<!-- <div *ngFor="let thread of threads">

</div> -->
  <!-- <div *ngFor="let post of allPosts" class="card"> -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ (postToDisplay | async)?.author }}</h5>
      <p class="card-text">

        {{ (postToDisplay | async)?.content }}
      </p>
      <p class="card-text text-muted"><small>By: {{ (postToDisplay | async)?.author }}</small></p>
    </div>
  </div>
</div>
